#navbar{
    height:100px;
    background-color: black;
    padding-top: 0;
    position: fixed;
    width:100%;
    top: 0;
   
}
#nav{
    margin-top:0;
    padding-top: 10px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.logo img{
    height: 80px;
    width: 80px;
}

#nameNav{
    width: 80px;
    position: fixed;
    font-size: 20px;
    color: white;
    right: 30px;
    top: 40px;
    margin:0;
}