
.Privacy{
    text-align: center;
}

  #about_header{
    background: #fff;
    margin: auto,
    

  }
  
  #app {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
  }
  

  .privacyP {
    color: #faf8f8;
    padding: 20px;
  }

.intro { 
    border: 1px solid white; 
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.intro-heading {
    font-weight: normal;
    font-size: 30px;
}
.intro-paragraph {
    color: #faf8f8;
}